.container{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    /* background-color: red; */
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;

    /* height: 100%;
    width: 100%; */
}

.menu{
    height: 72px;
    width: 100%;
    background-color: red;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    padding: 0 24px;

    box-sizing: border-box;
}

#languages{
    -webkit-appearance: none;

    background-color: none;
    height: 48px;
    width: 192px;

    padding: 0 8px;

    display: flex;
    align-self: flex-end;

    border-radius: 0;
    border: 1px solid #111;

    font-size: 16px;
}

.title{
    font-size: 40px;
    color: #202020;
    text-align: center;
}

.subtitle{
    font-size: 24px;
    color: #888;
    text-align: center;
    margin-top: 8px;
}



.button{
    cursor: pointer;

    display: block;
    
    height: 56px;
    width: 288px;
    margin-top: 48px;
    
    border: 0px;
    border-radius: 6px;

    /* color: #FFF;*/
    background-color: #10a37f;

    color: #FFF;
    /* background-color: #202024; */

    font-size: 16px;
    font-weight: 500;
}